{% include 'header.html'%}

<div class="album py-5 bg-light">

    <div class="container">
<div class="col text-start lead my-1">
    <h1 class="display-6">
        تصفح المشاتل : 
    </h1>
    <br/>
</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% include 'small_card.html' %}
          {% include 'small_card.html' %}
          {% include 'small_card.html' %}
          {% include 'small_card.html' %}
          {% include 'small_card.html' %}
          {% include 'small_card.html' %}
          {% include 'small_card.html' %}
          {% include 'small_card.html' %}
          {% include 'small_card.html' %}
        
    
      </div>
    </div>
  </div>

  {% include 'footer.html' %}