{% include 'header.html'%}

<div class="album py-5 bg-light">

    <div class="container">
<div class="col text-start lead my-1">
    <h1 class="display-6">
        تصفح المشاتل : 
    </h1>
    <br/>
</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        {% for profile in profiles %}
        <div class="col">
          <a href="/profile?id_p={{ profile.id }} ">
              <div class="card zooming  text-white shadow-lg">
                  <img src="{{url_for('static',filename=profile.img_path1)}}" class="card-img" alt="..." style="max-height: 200px !important;">
                  <div class="card-img-overlay">
                      <h5 class="card-title">{{profile.name}}</h5>
                      <p class="card-text">{{profile.des}}</p>
                      <ul class="list-group list-group-horizontal text-dark">
                          <li class="list-group-item">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cursor-fill" viewBox="0 0 16 16">
                                <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"/>
                              </svg>
                                {{profile.path}} 
                          </li>
                      </ul>
                  </div>
                  <div class="card-footer bg-green border-success bg-success"  >
                      زيارة المشتل
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                      </svg>
                  </div>
                  
              </div>
              
              
          </a>
          </div> 
          {% endfor %}
      </div>
    </div>
  </div>

  {% include 'footer.html' %}