{% include "header.html" %}
<title>الزهور | اكاسيا المزهرة</title>
<div class="ui fluid card" style="position: relative;top: 4rem;padding: 10px; margin: 10px;">
    <a href="/card" class="image">

      <img style="width: 100%;" src="https://cdn.shopify.com/s/files/1/2713/0120/products/Unknown-6_960x.jpg?v=1585927606">
      
  </a>
    <div class="content">
      <div class="header">
  <a href="/card">
        
        اكاسيا

</a>

      </div>
      <div class="meta">

        <a href="/card">الشجر</a>
      </div>
      <div class="description">
اكاسيا شجرة مزهرة في فصل الربيع تتمتع بجمال زهورها                  </div>
    </div>
    <div class="extra content">
      <span class="right floated">
 5$ السعر
      </span> | 
      <span>
        <i class="user blue icon"></i>
مشتل الاخضري
      </span>
      | 
      <span>
        <i class="heart icon red"></i>
12 اعجابات
      </span>
  </div>
</div>