
<div class="col">
    <a href="/element" style="color:black;text-decoration: none;">
    <div class="card zooming">
                <img src="{{url_for('static',filename='imgs/red.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body" style="text-align: right;color: black;text-decoration: none;">
                    <h5 class="card-title" style="text-decoration: none;">وردة الجوري الحمراء</h5>
                    <p class="card-text text-truncate" style="height:auto; width: 100%; display: block;">
                        الوردة الدمشقية أو كما تعرف باسمها الشائع الوردة الجورية الاسم العلمي (Rosa damascena)، تنتمي إلى الفصيلة النباتية الوردية، سميت بهذا الاسم في الغرب لأن الغرب عرفها أثناء حملاته على بلاد الشام، وليس لأن أصل الوردة من بلاد الشام، وذلك لأنها وردة مهجنة وليست أصيلة، وقد أثبت فحص الحمض النووي أنها تتألف من ثلاث أنواع من الورد هي وردة المسك Rosa Moschata والوردة الفرنسية Rosa Gallica ووردة أخرى من آسيا الوسطى هي Rosa fedtschenkoana، أي أن لا موطنًا أصليًا لها، ولا يعرف المكان الذي هُجنت فيه على وجه التحديد.  
                        
                    </p>
                    <p class="card-text"><small class="text-muted">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                        </svg>  
                        نشر قبل 3 ساعات
                        
                    </small></p>
                </div>
                <div class="card-footer text-muted">
                    <ul class="list-group list-group-horizontal text-dark">
                    <li class="list-group-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ebc12d" class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                        </svg>
                        432
                        
                        مشاهدة
                        
                    </li>
                    <li class="list-group-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#81b441" class="bi bi-people" viewBox="0 0 16 16">
                            <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                        </svg>
                        14 مشتري 
                        
                    </li>
                    <li class="list-group-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                        </svg>
                        43 اعجاب
                    </li>
                </ul>
            </div>
        </div>
    </a>
    </div> 