{% include 'header.html'%}
<title> {{plants.name}} </title>
<section class="py-1 text-center container">

    <div class="row ">
      <div class="row gutter-0 col-lg-12 col-md-12 col-sm-12 mx-auto"> 

            <div class="col-lg-6 col-md-6 col-sm-12 card  shadow-lg" >
                <div class="col-lg-12 col-md-12 col-sm-12 p-2 m-2">
                    <blockquote class="blockquote mb-0 " style="text-align: right;">
                        <p>{{plants.name}}</p>
                        <footer class="blockquote-footer text-muted">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                <path d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                              </svg>

                              نشر بواسطة :
                              <b>

                                  {{nursery.name}}
                                   
                                </b>
                        </footer>
                        <footer class="blockquote-footer text-muted">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                              </svg>
                                    احجز الان : 
                              {{nursery.phone}}
                        </footer>
                      </blockquote>
                </div>
              <div class="col p-2 text-start">
                <p class="_des">
      
                </p>
             </div>
             
             <div style="width: 75%;margin: 10px auto;" class="dropdown-divider"></div>

                <div class="col-lg-12 col-md-12 col-sm-12 p-0 m-0">
                    <ul class="list-group list-group-horizontal text-dark">
  
                        <li class="list-group-item" style="border: 0;">
                            <!-- <form action="element.html" method="POST"> -->

                                <button  class="btn btn-outline-danger">
                                    
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart" viewBox="0 0 16 16">
                                        <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                    </svg>
                                    {{like}} اعجاب
                                </button>
                      
                            <!-- </form> -->
                        </li>
                        <li class="list-group-item" style="border: 0;">
                            <button class="btn btn-outline-success">

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#81b441" class="bi bi-people" viewBox="0 0 16 16">
                                <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                            </svg>
                            0 مشتري
                            </button>
                        </li>
                    </ul>
                    {% if 'user_id' not in session %}
                    <p>
                        <small>
                            عليك بتسجيل الدخول لتتمكن من الاعجاب والشراء.
                        </small>
                    </p>
                    {% endif %}
                </div>
              
    </div>
    <div class=" col-lg-6 col-md-6 col-sm-12 ">

        <div class="rounded shadow-lg"  style="width: 100%;height: 300px;background: url({{url_for('static',filename=plants.img_path1)}});background-size:cover;background-position:center">
            
</div>                    
</div>
            </div>
          </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
  let a =`{{plants.des}}`
    let p = $('._des')[0]
    let html = ($.parseHTML(a))
    nodeNames = [];
    $.each( html, function( i, el ) {
  nodeNames[ i ] = "<li>" + el.textContent + "</li>";
});
 p.innerHTML = nodeNames
</script>
{% include 'footer.html'%}