<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/insert" method="GET">
        <input type="text"  placeholder="name" name='name'>
        <input type="text"  placeholder="phonr"  name='phone'>
        <input type="text"  placeholder="des " name='des'>
        <input type="text"  placeholder="img_path" name='img_path'>
        <input type="text"  placeholder="path" name='path'>
        <button type="submit">ادخال</button>
    </form>

         
</body>
</html>